doctype 5
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    title= locals.title ? title + " | Blog Title" : "Blog Title"
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lekton')
    link(rel="stylesheet", href='/css/main.css')
    //if lt IE 9
      <script src="/js/html5shiv.js"></script>
  body(class="page-#{ current.path[0] } #{ current.path.join('-') }")
    header.masthead
      .container
        h1
          a(href='/') Baseline
      .img
    .content
      .container
        if current.path[0] === "index"
          .articles
            for post, slug in public.blog.data
              article
                a(href="/blog/#{ slug }")
                  h1= post.title
                  h2.xs.date= post.date
                  p= post.description
        else
          if current.path[0] === "blog"
            != partial("/blog/_blog")
          else if ["404", "about"].indexOf(current.path[0]) !== -1
            section.page
              != yield