section.author
  img(src='/images/#{ photo }', alt=name)
  h1.center= name
  if about
    p.center= about
  p.links.center
    if twitter
      a(href='http://twitter.com/#{ twitter }') Twitter
    if google_plus
      span •
      a(href='#{ google_plus }') Google+
  .articles
    h2 Posts
    for post, slug in public.blog.data
      article
        a(href="/blog/#{ slug }")
          h1.sm= post.title
          h2.xs.date= post.date
          p= post.description